.animation__row {
   padding: 70px 0px 0px 0px;
   --modifier: calc((40rem - 100%) * 999);
   display: flex;
   flex-wrap: wrap;
   gap: 1rem;
}

.animation__item {
   position: relative;
   flex-basis: max(var(--modifier), 0px);
   aspect-ratio: var(--ratio);
   flex-grow: calc(var(--ratio));
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   background: hsl(227, 9%, 31%);
}

.planet {
   background: hsl(220, 90%, 45%);
   width: 100px;
   height: 100px;
   border-radius: 50%;
}

.moon {
   background: hsla(0, 0%, 83%, 0.7);
   width: 25px;
   height: 25px;
   border-radius: 50%;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   margin: auto;
}

@keyframes orbit {
   from {
      transform:
         rotate(0deg) translateX(85px);
   }

   to {
      transform:
         rotate(360deg) translateX(85px);
   }
}

@media (prefers-reduced-motion: no-preference) {
   .moon {
      animation:
         orbit 6000ms linear infinite;
   }
}

/* ============================================================================================ */
.animation__item_2 {
   background: #363636;
}

.spinny-thing {
   --spinny: 10rem;
   --pos-spinny: calc(var(--spinny) / 50);
   --shadow-spinny: calc(var(--spinny) / 10);
   position: relative;
   width: var(--spinny);
   height: var(--spinny);
   border-radius: 50%;
   background: linear-gradient(45deg, transparent, transparent 40%, #ee55ff);
}


.spinny-thing::before {
   content: "";
   position: absolute;
   top: var(--pos-spinny);
   left: var(--pos-spinny);
   right: var(--pos-spinny);
   bottom: var(--pos-spinny);
   z-index: 100;
   background: #363636;
   border-radius: 50%;
}

.spinny-thing::after {
   content: "";
   position: absolute;
   top: 0;
   left: var(--pos-spinny);
   right: var(--pos-spinny);
   bottom: var(--pos-spinny);
   z-index: 1;
   background: linear-gradient(45deg, transparent, transparent 40%, #ee55ff);
   border-radius: 50%;
   filter: blur(var(--shadow-spinny));
}

@keyframes spinny {
   0% {
      transform: rotate(0);
      filter: hue-rotate(0);
   }

   100% {
      transform: rotate(360deg);
      filter: hue-rotate(360deg);
   }
}

@media (prefers-reduced-motion: no-preference) {
   .spinny-thing {
      animation:
         spinny 1500ms linear infinite;
   }
}